.header {
    padding-left: 12px;
    padding-right: 12px;
    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.tools {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.settingsbtn {
    transition: transform 200ms;
    cursor: pointer;
}

.settingsbtn:hover {
    transform: rotate(45deg);
}

.reportbtn {
    cursor: pointer;
}

.title {
    font-size: 2em;
    font-weight: 700;
}